/* Container for login section */
.login-container {
    display: flex;
    max-width: 900px;
    min-height: 500px; 
    margin: 3rem auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}

/* Image section */
.login-image {
    flex: 1;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Form section */
.login-form {
    flex: 1;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.login-form h2 {
    margin-bottom: 2rem;
    font-size: 24px;
    text-align: center;
    font-weight: bold; 
}

.login-form label {
    /* font-weight: bold; */
    margin-top: 1rem;
     font-size: 1.2rem;
    display: block;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}

.message {
    margin-bottom: 1rem;
    text-align: center;
}

.message p {
    padding: 10px;
    border-radius: 4px;
}

.message .error {
    background-color: #f8d7da;
    color: #842029;
}

.message .info {
    background-color: #89281b;
    color: #d1e7dd;
}



.message .success {
    background-color: #d1e7dd;
    color: #0f5132;
}

.login-form p {
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .login-image {
        height: 200px;
    }

    .login-form {
        padding: 1.5rem;
    }
}
